/* --- タグ --- */
/* 全称セレクタ */
* {
  margin: 0px;
}

/* 全体 */
body, p, ol, ul, td, textarea {
  background-color: #fff;
  color: #000;
  font-family: monospace, verdana, arial, helvetica, sans-serif;
  font-size:   14px;
  line-height: 18px;
  padding: 0px;
}

/* フォーム */
form {
  display: inline;
}

/* div */
div {
  display: inline-block;
}

/* pre */
pre {
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border: 1px solid #aaa;
  padding: 15px;
}

/* テーブル */
table {
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border: 1px solid #aaa;
  padding: 5px;
}

th, td {
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  /*border: 1px solid #aaa;*/
  padding: 5px;
}

/* リンク */
a {
  color:#a0b0c0;
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}
/* --- / タグ --- */

/* --- クラス --- */
/* ページボックス */
.page_box {
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-box-shadow: 0px 0px 5px #bbb;
  -webkit-box-shadow: 0px 0px 5px #bbb;
  border: 1px solid #ccc;
  padding: 25px;
  margin: 10px auto;
  width: 93%;
  align: center;
  display: block;
}

.page_box .category_box {
  padding: 5px;
  width: 95%;
}

.page_contents {
  width: 100%;
}

/* 入力欄 */
.input_field input {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border: 1px solid #aaa;
  width: 200px;
  padding: 5px;
}

textarea {
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border: 1px solid #aaa;
  width: 95%;
  height: 300px;
  padding: 15px;
}

/* リンク */
.active_link a {
  font-weight: bold;
}

.menu a {
  color: #a0b0c0;
  line-height: 12px;
  margin: 0px 0px 0px 0px;
  padding: 5px 15px 5px 15px;
  display: inline-block;
  background: #fff repeat-x;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border: 1px solid #a0b0c0;
}

.menu a:hover {
  color: #fff;
  background: #a0b0c0 repeat-x;
  text-decoration: none;
}
/* --- / クラス --- */

/* --- ID --- */
#title {
  font-family: "Times New Roman", monospace, verdana, arial, helvetica, sans-serif;
  font-size:   50px;
  line-height: 50px;
  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.5, transparent), to(white));
  /*-webkit-text-stroke: 1px #aaa;*/
  text-align: left;
  display: block;
}

#title a {
  color: #000;
  text-decoration: none;
}
/* --- / ID --- */

/* --- ページネーション --- */
.pagination {
  padding: 3px;
  margin: 3px;
}
.pagination a {
  padding: 2px 5px 2px 5px;
  margin: 2px;
  border: 1px solid #aaaadd;
  text-decoration: none;
  color: #ff7500;
}
.pagination a:hover, .pagination a:active {
  border: 1px solid #ff7500;
  background-color: #ff7500;
  color: #fff;
  text-decoration: none;
}
.pagination span.current {
  padding: 2px 5px 2px 5px;
  margin: 2px;
  border: 1px solid #ff7500;
  font-weight: bold;
  background-color: #ff7500;
  color: #fff;
}
.pagination span.disabled {
  padding: 2px 5px 2px 5px;
  margin: 2px;
  border: 1px solid #eee;
  color: #ddd;
}
/* --- / ページネーション --- */
